{% load static %}

<div class = "answer">
    <div class = "row">
      <div class = "col-2">
        <div class = "answer-avatar">
          <img src = "{% static "img/download.jpeg" %}" alt = "Avatar">

            <!--Закомментировал для тестов, поскольку в базе с прошлых домашек остались юзеры без аватарок-->
          <!--<img src = "{{answer.author_id.avatar.url}}" alt = "Avatar">-->


        </div>

      </div>
      <div class = "col-10">
        <div class = "answer-text">{{answer.text}}</div>

        <div class = "row">
            <div class = "col-3">
                <div class = "vote">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                        <button type="button" data-id = "{{answer.id}}" class="btn ans-btn-false btn-danger">Useless</button>
                        <button type="button" data-id = "{{answer.id}}" class="btn ans-btn-true btn-success">Usefull</button>
                    </div>
                </div>
            </div>
            <div class = "col-7">
                <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" data-id = "{{answer.id}}" {% if answer.is_correct %}checked{% endif %}>
                        <label class="form-check-label" for="flexCheckCheckedDisabled">
                            Correct Answer!
                        </label>
                </div>
            </div>
            <div class = "col-2">
                <div class = "rating" id = "{{answer.id}}">Rating: {{answer.rating}}</div>
            </div>
        </div>

      </div>
    </div>



</div>
